# Assignment 1 - Pandas and Plotting

In [ ]:
import numpy as np
import pandas as pd
import data_prep

## Data Preperation

Run this cell to download the dataset into `data` folder.

In [ ]:
data_prep.get_heart_disease_content()

## Introduction to Pandas

Attention to the following.

- Show only a portion of the dataset. Use `head`, `tail`, or `sample` functions whenever possible.

Create a list of heart-disease dataset column names using `data/heart-disease.names`.

Read `data/processed.cleveland.data` into dataframe. Ensure your dataset has column names.

Show first two rows.

Show the data shape.

Show number of values for each `sex` type.

Show statistics on `chol` column.

Filter dataset by people who has fasting blood sugar (`fbs`) more than 120 mg/dl.

Show number of different chest pain type (`cp`) for **females** who has exercise induced angina (`exang`).

Show only `age`, `sex` and `num` for people who has serum cholestoral (`chol`) more than 200 mg/dl.

Show only rows between 10 to 25 and columns `age`, `chol`, `slope` and `thal`.

Show rows 0, 2, 4, 6, and 8 with column indexes 2, 3, 5, and -1.

Find the mean of serum cholestoral (`chol`) of the dataset.

Find the mean of serum cholestoral (`chol`) of each different `sex` and `cp` groups.

Find the min, mean, and max of serum cholestoral (`chol`) of each different `sex` and `cp` groups.

Find min of `chol`, max of `thalach`, second highest of `trestbps` of each different `sex` and `cp` groups.

Read `data/processed.hungarian.data` into dataframe. Ensure your dataset has column names. Skip first 10 rows. NA values in the dataset is marked with `?`. Use `na_values` to recognise NA values.

Select rows where slope is not na.

Add a new column, 'location', to both `cleveland` and `hungarian` datasets.

Concatenate `cleveland` and `hungarian` into one dataframe. Ignore index while concatenating.

Make `chol` column into 3 discrete bins. Label each bin as low, medium, and low.

## Plotting with Pandas

 Use concatenated dataframe while plotting.

In [ ]:
plots = []

Plot column `sex` with a bar chart.

Plot column `cp` with a horizontal bar chart.

Plot column `chol` and `thalach` with a scatter chart.

Plot column `chol` and `thalach` with a line chart. Use records **only** females who has exercise induced angina (`exang`).

Plot column `thal` with a pie chart.

- If you encaunter any value issues, convert values to float first.
- Display percentages on the graph.

Calculates the difference of the records with the previous records using [diff function](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html#pandas-dataframe-diff) for `thal` column. Then, plot column `thal` with a histogram.

Select `restecg`, `thalach`, `chol`, `oldpeak` columns. Plot histogram of the selected dataframe.

Select `thalach` and `chol` columns. Plot a box plot of the selected dataframe.

## Save Figures

Save all figures so far to `data` folder.

Hint: Make a function to save figures. Collect all figures in a list and save figures from the list.